.CardWrapper{
    width: 22%;
    margin:10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 2px #0096ff;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}



.CardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ModuleThumbnail>img{
    width: 75px;
    margin-bottom: 20px;
}

.CardHeading{
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    min-height: 53px;
    opacity: 0.7;
}

.ModuleFaculty{
    display: flex;
    margin-bottom: 20px;
    color: #007bff;
}

.ModuleFaculty>img{
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.CardWrapper>div>div:last-child{
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 800;
    font-size: 10px;
}

@media(max-width:600px){
    .CardWrapper{
        width: unset;
        margin: 20px;
    }
    .ModuleThumnail{
        text-align: center;
    }
    .modDuration{
        text-align: center;
    }
    
}